[Desktop Entry]
Name=Cliptopia Daemon
Exec=cliptopia-daemon
Icon=cliptopia
Type=Application
Categories=Utility
Terminal=false
StartupWMClass=cliptopia